::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #999;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #999;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #999;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #999;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #999;
}

:root {
    --primary-color: #801432;
    --bs-primary: #801432;
}

body {
    background-color: #F3F4F6;
}

.bg-color-primary {
    background-color: var(--primary-color);
}

.color-primary {
    color: var(--primary-color);
}

.border-color-primary {
    border-color: var(--primary-color) !important;
}

.navbar-nav .nav-item .nav-link.active {
    border-bottom: 1px solid red;
}

.navbar-nav .nav-item .nav-link {
    padding: 12px 14px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0,0,0,0.7);
}

.image.invert {
    filter: invert(1);
}

.image.logo-small {
    height: 32px;
}

input.form-control:focus, 
input.form-control:active {
    box-shadow: unset !important;
} 

input.form-control:not(.no-shadow) {
    box-shadow: inset 0 2px 4px -2px rgba(0, 0, 0, 0.2);
}