.accordion {
    .accordion-item {
        .accordion-header {
            .accordion-button {
                border-top: 1px solid rgba(var(--primary-color-rgb), 0.1);
                &:not(.collapsed) {
                    background: linear-gradient(to bottom, rgba(var(--primary-color-rgb), 0.1), transparent);
                    color: var(--primary-color);
                    box-shadow: unset !important;
                }
            }
        }

        &:first-child {
            .accordion-header {
                .accordion-button {
                    border-top: 0px solid !important;
                }
            }
        }
    }
}
