@import "tailwindcss";
@tailwind base; 
@tailwind components;
@tailwind utilities;


@theme {
    --color-primary: oklch(0.395 0.1429 12.83);
    --color-primary-50: oklch(0.9691 0.0151 17.42);
    --color-primary-100: oklch(0.9411 0.0297 15.14);
    --color-primary-200: oklch(0.8919 0.0557 12.74);
    --color-primary-300: oklch(0.8094 0.1034 14.36);
    --color-primary-400: oklch(0.718 0.1664 15.95);
    --color-primary-500: oklch(0.6429 0.2137 18.87);
    --color-primary-600: oklch(0.582 0.2195 19.75);
    --color-primary-700: oklch(0.5117 0.1966 19.07);
    --color-primary-800: oklch(0.4519 0.1696 16.45);
    --color-primary-900: oklch(0.395 0.1429 12.83);
    --color-primary-950: oklch(0.2689 0.0985 14.93);

    --color-secondary: oklch(0.2849 0.1306 262.59);
    --color-secondary-50: #e9f7ff;
    --color-secondary-100: #cfebff;
    --color-secondary-200: #a9dfff;
    --color-secondary-300: #6fcdff;
    --color-secondary-400: #2baeff;
    --color-secondary-500: #0085ff;
    --color-secondary-600: #005cff;
    --color-secondary-700: #0041ff;
    --color-secondary-800: #0035e1;
    --color-secondary-900: #0035af;
    --color-secondary-950: #022169;
}

@layer base {
    :root {
        --primary: var(--color-primary);
        --secondary: var(--color-secondary);
    }
}

html.stable-gutter {
  scrollbar-gutter: stable;
}

.border-slate-500 { @apply border-slate-500; }
.border-yellow-500 { @apply border-yellow-500; }
.border-yellow-300 { @apply border-yellow-300; }
.border-red-500 { @apply border-red-500; }
.border-red-300 { @apply border-red-300; }
.border-blue-500 { @apply border-blue-500; }
.border-green-500 { @apply border-green-500; }

.bg-yellow-50 { @apply bg-yellow-50; }
.bg-yellow-100 { @apply bg-yellow-100; }
.bg-yellow-300 { @apply bg-yellow-300; }
.bg-red-500 { @apply bg-red-500; }
.bg-red-300 { @apply bg-red-300; }
.bg-blue-500 { @apply bg-blue-500; }
.bg-green-50 { @apply bg-green-50; }
.bg-green-100 { @apply bg-green-100; }
.bg-green-500 { @apply bg-green-500; }
.bg-slate-500 { @apply bg-slate-500; }
.bg-slate-300 { @apply bg-slate-300; }

input, button, textarea, select {
    @apply transition-all duration-300;
}

label {
    @apply text-slate-500 text-sm;
}

table.bordered {
    @apply border border-slate-300 w-full;
}

table.bordered th {
    @apply border border-slate-300;
}

table.bordered tr {
    @apply border border-slate-300;
}

table.bordered tr td {
    @apply border border-slate-300;
}


/* Basic editor styles */
.tiptap {
  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  /* Code and preformatted text styles */
  code {
    background-color: var(--purple-light);
    border-radius: 0.4rem;
    color: var(--black);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background: var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  blockquote {
    border-left: 3px solid var(--gray-3);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid var(--gray-2);
    margin: 2rem 0;
  }

  /* Table styles */
  .tableWrapper {
    overflow-x: auto;
    margin: 1em 0;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin: 0;
    overflow: hidden;

    td,
    th {
      border: 1px solid #ccc;
      padding: 8px 12px;
      text-align: left;
      vertical-align: top;
      box-sizing: border-box;
      position: relative;
      min-width: 1em;
    }

    th {
      font-weight: bold;
      background-color: #f7f7f7;
    }

    .selectedCell {
      background-color: rgba(200, 200, 255, 0.4);
    }

    .column-resize-handle {
      position: absolute;
      right: -2px;
      top: 0;
      bottom: -2px;
      width: 4px;
      background-color: #adf;
      pointer-events: none;
    }
  }

  &.resize-cursor {
    cursor: col-resize;
  }
}

p {
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }
}