.list-group-item:not(.active) {
    background: transparent;
}

.queries-container {
    min-height: 500px;

    .query-input-container {
        min-height: 4rem;
    }

    .query-content-container {

        .query-content-wrapper {
            max-height: 550px;
            overflow-y: auto;
        }
    }
}

textarea
{
   resize: none;
}
