table.tbl-primary {
    thead {
        th {
            font-weight: 500;
            font-size: 0.8rem;
            color: white !important;
        }
    }

    tr {
        &:nth-child(odd) {
            td {
                background: #F5F5F5;
            }
        }

        &.current-job {
            td {
                background: rgba(var(--primary-color-rgb), 0.1) !important;
            }
        }

        td {
            .truncate {
                width: 150px;
                text-overflow: ellipsis;
                overflow: hidden;
                display: block;
            }

        }
    }
}

.w-200p {
    width: 200px !important;
}

.w-180p {
    width: 180px !important;
}

.w-160p {
    width: 160px !important;
}

.w-140p {
    width: 140px !important;
}

.w-120p {
    width: 120px !important;
}

.w-100p {
    width: 100px !important;
}

.w-90p {
    width: 90px !important;
}

.w-80p {
    width: 80px !important;
}

.w-70p {
    width: 70px !important;
}

.w-60p {
    width: 60px !important;
}

.w-50p {
    width: 50px !important;
}

.w-40p {
    width: 40px !important;
}

.w-30p {
    width: 30px !important;
}

.w-20p {
    width: 20px !important;
}

.w-10p {
    width: 10px !important;
}

.shadow-up {
    box-shadow: 0 -1rem 2rem rgba(0, 0, 0, 0.05) !important;
}

.shadow-up-large {
    box-shadow: 0 -1rem 3rem rgba(0, 0, 0, 0.15) !important;
}