<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="h4">Reset password</div>
            <div class="small">Please give your email address to send reset password link</div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-8 offset-sm-2">

            <!-- Get Email Address To Send OTP -->
            <ng-container *ngIf="!isOTPSent && !isOTPVerified">
                <pq-textbox label="Email address" type="email" [textBoxContent]="email" (outputValue)="email = $event;"></pq-textbox>

                <pq-button buttonWidth="full" [isLoading]="isSendingOTP" [isDisabled]="!email || isSendingOTP" (clickEvent)="sendOTP()">Send Reset OTP</pq-button>
            </ng-container>

            <!-- Verify OTP -->
            <ng-container *ngIf="isOTPSent && !isOTPVerified">
                <pq-textbox label="Verify OTP" [textBoxContent]="otp" [helper]="'OTP has been sent to ' + email" (outputValue)="otp = $event;"></pq-textbox>
    
                <pq-button buttonWidth="full" [isLoading]="isVerifyingOTP" [isDisabled]="!otp || isVerifyingOTP" (clickEvent)="verifyOTP()">Verify OTP</pq-button>
            </ng-container>

            <!-- Change Password -->
            <ng-container *ngIf="isOTPSent && isOTPVerified">
                <pq-textbox label="New Password" type="password" [textBoxContent]="newPassword" (outputValue)="newPassword = $event;"></pq-textbox>
                <pq-textbox label="Confirm Password" type="password" [textBoxContent]="confirmPassword" (outputValue)="confirmPassword = $event;"></pq-textbox>
    
                <pq-button [ngClass]="{ 'disabled': (!newPassword && !confirmPassword)  }" buttonWidth="full" [isLoading]="isChangingPassword" [isDisabled]="isChangingPassword" (clickEvent)="changePassword()">Change Password</pq-button>
            </ng-container>

            <div class="mt-3 text-center">
                <pq-button buttonStyle="link" (clickEvent)="goToPage('/login')">
                    Go back to login
                </pq-button>
            </div>
        </div>
    </div>
</div>