<section class="container">
    <div class="row">
        <div class="col-sm-12 text-start">
            <div class="display-6 mb-0">Holiday Management</div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-sm-12 px-0">

            <pq-section-card sectionTitle="Policies List" sectionSubtitle="Choose policy from the list to preview"
                cardClass="shadow-sm" cardBodyClass="pb-0 rounded overflow-hidden"
                [enableSettings]="false">

            </pq-section-card>

        </div>
    </div>
</section>