body {
    font-family: 'Arial', sans-serif;
    background-color: #EEE;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.container-mode {
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 50px 100px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #444;
    margin-bottom: 0px;
    font-weight: 400;
}

p {
    color: #777;
}
.app-title {
    font-size: 1.2rem;
    font-weight: 700;
    color: #777;
}