@import "~@ionic/core/css/ionic.bundle.css";

:root {
  --ion-color-primary: #811331;
  --ion-color-primary-rgb: 129, 19, 49;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #72112b;
  --ion-color-primary-tint: #8e2b46;
}

.client-portal-app {
  /* Primary Colors */
  --ion-color-primary: #811331;
  --ion-color-primary-rgb: 129, 19, 49;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #72112b;
  --ion-color-primary-tint: #8e2b46;

  /* Secondary Colors */
  --ion-color-secondary: #012169;
  --ion-color-secondary-rgb: 1, 33, 105;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #011d5c;
  --ion-color-secondary-tint: #1a3778;

  --ion-color-base: var(--ion-color-primary);
  --ion-color-base-rgb: var(--ion-color-primary-rgb);
  --ion-color-contrast: var(--ion-color-primary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-shade);
  --ion-color-tint: var(--ion-color-primary-tint);
}

ion-content {
  height: 100vh !important;
  --padding-bottom: 180px;
}
